body {
  background-color: #15191F;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 90%;
  margin: auto;
}

a {
  user-select: none; /* Отключает возможность выделения текста */
  outline: none; /* Убирает контур фокуса */
  text-decoration: none; /* Убирает подчеркивание */
  color: white;

  cursor: pointer;
}

a::selection {
  background: none; /* Убирает выделение текста */
  color: inherit; /* Цвет текста остается прежним */
}